
background-black {
  margin: 0;
  background: green;
}

@font-face {
  font-family: LipoItalic;
  src: url('/Users/irvinglamadrid/MayPortfolio/may-portfolio/src/pages/fonts/LipoBoldItalic.otf');

}
@font-face {
  font-family:GTWalshBold ;
  src: url('/Users/irvinglamadrid/MayPortfolio/may-portfolio/src/pages/fonts/GTWalsheimPro-CondensedUltraBold.ttf');
  
}
@font-face {
  font-family:GTWalsh;
  src: url('/Users/irvinglamadrid/MayPortfolio/may-portfolio/src/pages/fonts/GTWalsheimPro-Light.ttf');
  
}
.GtRegularBold {
  font-family: GTWalshBold;
}
.LipoItalic {
  font-family: LipoItalic;
}
.GtRegular {
  font-family: GTWalsh;
}




.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 200px;
  height: 140px;
  box-sizing: border-box;
}

.button-cover {
  height: 100px;
  margin: 20px;
  margin-top: 200px;

  background-color: transparent;
  border-radius: 4px;
}



.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 90px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 190px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: white;
  transition: 0.3s ease all;
  z-index: 1;
}


/* Button 3 */
#button-3 .knobs:before {
  content: " ";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: black;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before {
  width: 100px;
  border-radius: 100px;
}

#button-3 .checkbox:checked:active + .knobs:before {
  margin-left: -46px;
}

#button-3 .checkbox:checked + .knobs:before {
  content: " ";
  left: 60px;
  background-color: yellow;
}

#button-3 .checkbox:checked ~ .layer {
  background-color: black;
}

/* njksadnajknaskjda */

.toggle-button-cover-2 {
  position: sticky;
  margin-right:25px;
  width: 70px;
  height: 10px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 30px;
}

.button-cover-2 {
  height: 20px;
  margin-top: 2px;
  border-radius: 10px;
}


.button-cover-2,
.knobs-2,
.layer-2 {
  position: absolute;
  top: 3px;
  border-radius: 40px;
  right: 0;
  bottom: 0;
  left: 0;
}


.button-2 {
  position: relative;
  top: 50%;
  width: 70px;
  height: 26px;
  margin: -10px auto 0 auto;
  overflow: hidden;
}

.button-2.r2,
.button-2.r2 .layer-2 {
  border-radius: 190px;
}

.button-2.b2 {
  border-radius: 2px;
}

.checkbox-2 {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 40px;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs-2 {
  z-index: 2;
}

.layer-2 {
  width: 100%;
  background-color: white;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 3b */
#button-3b .knobs-2:before {
  content: " ";
  position: absolute;
  top: 4px;
  left: 7px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 7px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: black;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  margin-top: 3px;
}

#button-3b .checkbox-2:active + .knobs-2:before {
  width: 100px;
  border-radius: 100px;
}

#button-3b .checkbox-2:checked:active + .knobs-2:before {
  margin-left: 10px;
}

#button-3b .checkbox-2:checked + .knobs-2:before {
  content: " ";
  left: 60px;
  background-color: white;
}

#button-3b .checkbox-2:checked ~ .layer-2 {
  background-color: black;
}





/* jsdnaskjdbnasjkdnbsak */

.toggle-button-cover-3 {
  position: sticky;
  margin-right: 25px;
  width: 35px;
  height: 10px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 30px;
  margin-top: 39px;
}

.button-cover-3 {
  height: 30px;
  margin-top: 2px;
  border-radius: 10px;
}

.button-cover-3,
.knobs-3,
.layer-3 {
  position: absolute;
  top: 3px;
  border-radius: 40px;
  right: 0;
  bottom: 0;
  left: 0;
}

.button-3 {
  position: relative;
  top: 50%;
  width: 30px;
  height: 26px;
  margin: -10px auto 0 auto;
  overflow: hidden;
}

.button-3.r3,
.button-3.r3 .layer-3 {
  border-radius: 190px;
}

.button-3.b3 {
  border-radius: 2px;
}

.checkbox-3 {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 40px;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs-3 {
  z-index: 2;
}

.layer-3 {
  width: 100%;
  background-color: white;
  transition: 0.3s ease all;
  z-index: 1;
  width: 70px;
  height: 25px;
}

/* Button 3c */
#button-3c .knobs-3:before {
  content: " ";
  position: absolute;
  top: 1px;
  left: 7px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 7px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: black;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  margin-top: 3px;
}

#button-3c .checkbox-3:active + .knobs-3:before {
  width: 100px;
  border-radius: 100px;
}

#button-3c .checkbox-3:checked:active + .knobs-3:before {
  margin-left: 10px;
}

#button-3c .checkbox-3:checked + .knobs-3:before {
  content: " ";
  left: 43px;
  background-color: white;
}

#button-3c .checkbox-3:checked ~ .layer-3 {
  background-color: black;
}
